@import "tailwindcss";

@theme {
  /* Cores */

  --color-ocre: #d1451e;
  --color-coral: #f0633c;
  --color-coral-claro: #ffdbd1;
  --color-creme: #fffaf3;
  --color-verde-escuro: #263a29;
  --color-verde-medio: #3d6d4a;
  --color-cinza: #444444;--color  
  --color-branco: #fff;

  /* Fontes */

    --font-family-padrao: Nunito Sans, sans-serif;
  --cabecalhos: Paytone One, sans-serif;
}

@layer base {
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}

button {
  border: 0;
  background-color: inherit;
  font: inherit;
}

body {
  min-height: 100vh;
  color: var(--creme);
  font-family: var(--font-family-padrao);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  background: url("../assets/image/fundo-banner.png"),
    var(--verde-escuro, #263a29);
}
}
@layer components {
  .cabecalho-lg {
    @apply  text-[3.35625em] leading-[120%];
  }

  .cabecalho {
    @apply  text-[2.75em] leading-[120%];
  }

  .subtitulo-lg {
    @apply text-[1.9375em] leading-[150%];
  }

  .paragrafo-lg {
    @apply text-[1.375em] leading-[150%];
  }

  .paragrafo {
    @apply text-[1.125em] leading-[150%];
  }

  .banner {
    @apply px-[7.5rem] py-16 text-creme flex justify-between items-center gap-[3.25rem];
  }

  .logo {
    @apply h-[4.5rem] mb-12;
  }

  .frase-cabecalho {
    @apply mb-8;
  }

  .texto-verde {
    @apply text-verde-medio;
  }

  .foto-banner {
    @apply w-[35rem];
  }
}

@layer utilities {
  /* Responsivo */
  @media (max-width: 1300px) {
    .banner {
      @apply px-[3.75rem] flex-col items-center gap-4;
    }

    .logo {
      @apply mx-auto;
    }
  }

  @media (max-width: 767px) {
    .cabecalho-lg {
      @apply text-[2.75em];
    }

    .cabecalho {
      @apply text-[2.3125em];
    }

    .subtitulo-lg {
      @apply text-[1.625em];
    }

    .banner {
      @apply px-6;
    }

    .foto-banner {
      @apply w-full max-w-[21.25rem];
    }
  }
}